<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 扫描注解 -->
	<context:component-scan base-package="com.yangc">
	 	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	<!-- 加载properties配置文件 -->
	<bean id="propertiesFileScan" class="com.yangc.utils.PropertiesFileScanUtils" />
	<!-- 引入数据源和HibernateTemplate,JdbcTemplate模板和声明式事务配置 -->
	<import resource="classpath:/com/*/*/config/*-config.xml" />
</beans>
